RewriteEngine On

RewriteRule /start.js  %{DOCUMENT_ROOT}/assets/start.js [L]
RewriteRule /post   %{DOCUMENT_ROOT}/post.php [L]
RewriteRule /start  %{DOCUMENT_ROOT}/track-start.php [L]

# http://{domain}/--/tracker/{pixel-token}/pixel.gif
RewriteRule /pixel.gif %{DOCUMENT_ROOT}/pixel-track.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

